<div class="jumbotron center">
  <div class="nav">
    <h6 class="top-links">{{#link-to 'index'}}Home{{/link-to}}</h6>
    <h6 class="top-links">{{#link-to 'about'}}About{{/link-to}}</h6>
    <h6 class="top-links">{{#link-to 'contact'}}Contact Us{{/link-to}}</h6>
    <h6 class="top-links">{{#link-to 'announcements'}}Announcements{{/link-to}}</h6>
  </div>
  <h1>Explore the United States</h1>
  <h4>Leave Your UV light at Home </h4>
</div>

{{outlet}}

<hr>

<div class="footer col-md-12">
  <p>
    Epicodus 	&#169; 2016
  </p>
</div>
