  <div class="jumbotron center">
    <div class="nav">
      <h6 class="top-links">{{#link-to 'about'}}About{{/link-to}}</h6>
      <h6 class="top-links">{{#link-to 'contact'}}Contact Us{{/link-to}}</h6>
    </div>
  <h1>Explore the United States</h1>
  <h4>Leave Your UV light at Home </h4>
</div>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}
