  <div class="jumbotron center">
    <div class="nav">
      <h6 class="top-links">{{#link-to 'about'}}About{{/link-to}}</h6>
      <h6 class="top-links">{{#link-to 'contact'}}Contact Us{{/link-to}}</h6>
      <h6 class="top-links">{{#link-to 'announcements'}}Announcements{{/link-to}}</h6>
    </div>
  <h1>Explore the United States</h1>
  <h4>Leave Your UV light at Home </h4>
</div>

<h3 class="main-header">We hope you find exactly what you're looking for in a place to stay.</h3>
<h6 class="main-header">Click on images to see rental details</h6>

<ul class="image-section">
  {{#each model as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

<div class="new-rental col-md-12">
  {{new-rental save2="save3"}}
</div>

<div class="footer col-md-12">
  <p>
    Epicodus 	&#169; 2016
  </p>
</div>
