<h3 class="main-header">We hope you find exactly what you're looking for in a place to stay.</h3>
<h6 class="main-header">Click on images to see rental details</h6>

<ul class="image-section">
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
  {{/each}}
</ul>


<h2>Cities</h2>
<ul>
  {{#each model.cities as |city|}}
    <li>{{city-popularity city}} {{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-city save2="save3"}}
