

<h3 class="main-header">We hope you find exactly what you're looking for in a place to stay.</h3>
<h6 class="main-header">Click on images to see rental details</h6>

<ul class="image-section">
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
  {{/each}}
</ul>


<h2 class="city_header">Cities</h2>

<div class="container city">
  <div class="row">
    {{#each model.cities as |city|}}
      <div class="col-md-2">
        <h4>{{city-popularity city}} {{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</h4>
      </div>
    {{/each}}
  </div>
</div>

<br>
{{new-city save2="save3"}}
