<div class="container rental">
  <h2 class="rental_header">More information about {{model.owner}}'s {{model.type}}</h2>

  {{rental-detail rental=model destroyRental="destroyRental"}}
  <br>
  {{update-rental rental=model update="update"}}
</div>
